@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/Gilroylight.woff2") format("woff2"),
         url("../fonts/Gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
         url("../fonts/Gilroyextrabold.woff2") format("woff2"),
         url("../fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy","Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  color: #000000;
  background-color: #ffffff;
}
/*
body > * {
  background-color: rgba(255, 0, 0, 0.3);
}
body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}
body > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}
*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden:not(:focus):not(:active),*/
/*input[type="checkbox"].visually-hidden,*/
/*input[type="radio"].visually-hidden {*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.buttons {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;

  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;

  text-align: center;
  vertical-align: middle;
}

.button-picture {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.6);

  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  outline-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;

  padding: 0 20px;  /*60 внутри и 20 снаружи по бокам*/
}

.main-header {
  min-height: 186px;
  margin-bottom:54px;
}

.main-navigation {
  margin-top: 40px;

  width: 1160px;
  min-height: 186px;
  background-color: #f7e196;

  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 300;
}

.main-logo {
  position: relative;
	top: -17.5px;
  padding: 0 0 0 60px;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:focus {
  opacity: 0.3;
}

.main-header-center {
  width: 100%;

  margin: 0 0 35px 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foundling {
  width: 440px;

  padding: 0 0 0 60px;
  display: inline-flex;
  align-items: flex-end;
}

.user-navigation {
  /*padding: auto; *//* ошибка*/
  width: 260px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.product-navigation {
  width: 220px;
  padding: 0 60px 0 0;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-navigation input[type="search"] {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  line-height: 30px;

  font-family: "Open Sans";
  font-weight: 300;
  width: 355px;

  border-bottom: 2px solid #000000;
}

/*
.main-navigation input[type="search"]:focus ~ .search-button {
    display:block;
}
*/
/**************
.main-navigation input[type="search"] ~ .search-button {
  display: none;
}
*****************/
.main-navigation input[type="search"]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation input[type="search"]:hover {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  line-height: 30px;

  font-family: "Open Sans";
  font-weight: 300;
  width: 356px;

  border-bottom: 2px solid #000000;
}

.main-navigation input[type="search"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation input[type="search"]:focus {
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  font-family: "Open Sans";
  font-weight: 300;
  border-bottom: 2px solid #000000;
  outline-style: none;

  /*outline-offset: none;*/
}

/*
.main-navigation input[type="search"]:focus~.search-button {
  display: flex;
}*/

/************
.main-navigation input[type="search"]:focus ~ .search-button {
    display:block;
  }
**************/

/*  .main-navigation input[type="search"]:focus ~ .search-button {
    display: #flex;
  }*/

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-button {
  font-size: 15px;
  line-height: 30px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;

  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;

  width: 85px;
  height: 49px;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
}

.search-button:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #000000;
  border: 2px solid #000000;
  outline-style: none;
}

.site-navigation {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;

  width: 1040px;
  list-style: none;

  padding: 0 60px 0 60px;
  /*width: 100%;*/
  margin-bottom: 57px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-navigation li:first-child {
  width: 300px;
  margin-right: 240px;
}

.site-navigation li:last-child {
  width: 120px;
  margin-left: 110px;
}

.user-navigation,
.product-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a.exit {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a.exit:hover {
  color: #000000;
}

.user-navigation a.exit:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a,
.product-navigation a,
.site-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.product-navigation a:hover,
.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:focus,
.product-navigation a:focus,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a:hover,
.user-navigation a:focus,
.product-navigation a:hover,
.product-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #f7e196;
}

.index-columns {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-family: "Open Sans";
  font-weight: 300;

  text-align: left;
  background-color: #ffffff;
  text-transform: none;

  padding: 60px 140px;
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.information {
  width: 460px;
}

.writetous {
  width: 560px;
}

.index-columns  h2 {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;

  font-family: "Gilroy";
  font-weight: 800;
}

.information ul {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;

  font-family: "Gilroy";
  font-weight: 800;

  list-style: none;
}

.information a {
  color: #000000;
  display: block
}

.information a.buttons {
  background: #f0c52e;
  background: linear-gradient(to bottom, transparent 19px, #f0c52e 19px, #f0c52e 27px, transparent 27px);
  background-size: auto 100%;

  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.information a.buttons:hover {
  background-color: #f0c52e;
  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.information a.buttons:focus {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

  /*display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 25px;
  margin-left: 25px;*
  border: 2px solid #333;
  transition: 0.4s ease-in-out;*/

.writetous .buttons {
  background-color: #f0c52e;
  /*background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);*/
  background: linear-gradient(to bottom, transparent 32px, #f0c52e 32px, #f0c52e 40px, transparent 40px);
  background-size: auto 100%;

  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
  padding-top: 24px;
}

.writetous .buttons:hover {
  background-color: #f0c52e;
  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
  padding-top: 24px;
}

.writetous .buttons:focus {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 260px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
  padding-top: 24px;
}

.page-title {
  background-color: #ffffff;
  color: #000000;

  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 800;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Open Sans";
  font-weight: 300;

  list-style: none;

  padding: 0;
  margin: 0;
  width: 382px;
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:hover {
  color: #000000;
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.6);
}
*/




.catalog-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




.filters {
  background-color: #efefef;
  background-size: 468px 1287px;
/*  weight: 468px;
  height: 1287px;*/
  background-position: left center;
  /*margin: 0 auto;
  background-position: top center;
  background-size: 468px 1287px;
  float: left bottom;
  background-position: left bottom;*/
  background-repeat: no-repeat;

  padding: 0;
  margin: 0;
  width: 266px;
  /*margin-bottom: 188px;*/
}

.filters h2 {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;

  background-color: #dcdcdc;
  /*min-height: 68px;*/
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
}

.filters ul {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 300;
}

.filter-option input:focus + label {
  color: #000000;
}

.filter-option input:hover + label {
  color: rgba(0, 0, 0, 0.6);
}

.filter-option input:disabled + label {
  color: #000000;

  opacity: 0.3;
}

.filter-button {
  background-color: #f0c52e;
  background: linear-gradient(to bottom, transparent 19px, #f0c52e 19px, #f0c52e 27px, transparent 27px);
  background-size: auto 100%;

  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.filter-button:hover {
  background-color: #f0c52e;
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.filter-button:focus {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

/*
.catalog-alignment {
  width: 1069px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*/






.catalog {
  width: 760px;

}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  margin-bottom: 41px;
}

.catalog-item {
  /*background-color: #efefef;*/
  width: 360px;
  /*min-height: 454px;*/
  margin-bottom: 53px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item img:hover {
  opacity: 0.5;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;

  background-color: #ffffff;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  font-family: "Gilroy";
  font-weight: 300;

  text-align: right;
  background-color: #ffffff;
}

.catalog-item .buttons {
  background-color: #f0c52e;
  background: linear-gradient(to bottom, transparent 19px, #f0c52e 19px, #f0c52e 27px, transparent 27px);
  background-size: auto 100%;

  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.catalog-item .buttons:hover {
  background-color: #f0c52e;
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.catalog-item .buttons:focus {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.catalog-item .button-picture {
  background-color: transparent;
  background-size: auto 100%;

  border: none;
  width: 200px;
  padding-top: 1px;
  padding-bottom: 1px;
  outline-style: none;
}

.catalog-item .button-picture:hover {
  background-color: transparent;
  color: #000000;
  border: none;
  width: 200px;
  padding-top: 1px;
  padding-bottom: 1px;
  outline-style: none;
}

.catalog-item .button-picture:focus {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 200px;
  padding-top: 1px;
  padding-bottom: 1px;
  outline-style: none;
}

.pagination-list {
  background-color: #efefef;
  /*background-size: 760px 70px;*/
  /*background-position: auto center;*/
  /*background-repeat: no-repeat;*/

  padding: 0;
  margin: 0;

  list-style: none;
  width: 760px;
  /*margin: 0 auto;*/
}

.pagination-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-list li:first-child {
/* padding-left: 30px;*/
  width: 69px;
  margin-right: 240px;
}

.pagination-list li:last-child {
/*  padding-right: 30px;*/
  width: 75px;
  margin-left: 232px;
}

.pagination-list ul {
  list-style: none;
}

.pagination-list a {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;

  color: #000000;
  background-color: #ebebeb;
  font-family: "Gilroy";
  font-weight: 800;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:focus {
  color: #000000;
}
.pagination-current a {
  color: #000000;
}

/*.pagination-button-back a {*/
.pagination-button a {
  color: #000000;
  background-color: #ebebeb;
}

/*.pagination-button-back a:hover {*/
.pagination-button a:hover {
  color: #000000;
  background-color: #d9d9d9;
}

/*.pagination-button-back a:focus {*/
.pagination-button a:focus {
  color: rgba(0, 0, 0, 0.6);
  background-color: #d9d9d9;
}
/*
.pagination-button-next a {
  color: #000000;
  background-color: #ebebeb;
}

.pagination-button-next a:hover {
  color: #000000;
  background-color: #d9d9d9;
}

.pagination-button-next a:focus {
  color: rgba(0, 0, 0, 0.6);
  background-color: #d9d9d9;
}
*/

.main-footer {
  /*width: 1440px;*/
  min-height: 323px;
  background-color: #454545;

  padding: 0;
  margin-top: 78px;
}

.main-navigation-footer {
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #454545;

  margin-top: 0;
}

.main-footer .main-logo {
  padding: 0;
  margin: 0;
  position: relative;
  top: 65px;

  /*padding: 65px 0 0 140px;*/
  width: 170px;
  /*margin: 0 674px 0 0;*/
}

.main-footer-center {
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;


  padding: 0;
  margin: 0 0 57px 660px;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.user-navigation-footer {
  padding: 0;
  margin: 0;
  width: 230px;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.product-navigation-footer {
  padding: 0;
  margin: 0;

  width: 250px;
  display: flex;
  justify-content: space-between;
}

.user-navigation-footer a.exit-footer {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation-footer a.exit-footer:hover {
  color: rgba(255, 255, 255, 255);
}

.user-navigation-footer a.exit-footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.main-address-center {
  width: 100%;
/*width: 1160px;*/
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
}

.site-navigation-footer {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: 800;
  text-transform: uppercase;

  padding: 0;
  margin: 0 0 70px 0;

  width: 440px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.user-navigation-footer,
.product-navigation-footer,
.site-navigation-footer {
  list-style: none;
}

.user-navigation-footer a,
.product-navigation-footer a,
.site-navigation-footer a {
  color: #ffffff;
}

.user-navigation-footer a:hover,
.product-navigation-footer a:hover,
.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation-footer a:focus,
.product-navigation-footer a:focus,
.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:hover,
.user-navigation-footer a:focus,
.product-navigation-footer a:hover,
.product-navigation-footer a:focus,
.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  background-color: #454545;
}

.main-address-center address {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  background-color: #454545;
}

.main-address-center .address {
  font-style: normal;

  width: 261px;
  /*margin: 0 160px 0 0;*/
  margin-right: 101px;
}

.main-address-center .phone {
  font-style: normal;

  width: 160px;
  /*margin: 0 0 0 180px;*/
  margin-left: 200px;
}

.main-social-center {
  padding: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

hr {
   border: none;
   background-color: #ffc600;

   height: 7px;
   width: 80px;
  }

.footer-social {
  width: 160px;
  text-align: center;
  list-style: none;

  padding: 0;
  margin: 0 0 0 420px;

  width: 160px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.academy-footer-logo {
  background-color: #454545;

  width: 27px;
  margin: 0;
  margin-left: 473px;
}

.academy-footer-logo:hover {
  background-color: #454545;
  opacity: 0.6;
}

.academy-footer-logo:focus {
  background-color: #454545;
  opacity: 0.3;
}





.modal {
display: none;


color: #000000;

background-color: #ffffff;
background-image: url("../img/write-us-no.jpg");
background-position: 0 0;
background-repeat: repeat;
}

.modal-map {
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-writetous {
  width: 960px;
  height: 553px;
  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);

  font-size: 14px;
  line-height: 18px;
  color: #464646;
  font-family: "Open Sans";
  font-weight: 400;
}

.modal-writetous label{
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
}

.modal-writetous input[type="text"],
.modal-writetous input[type="email"] {
  font: inherit;

  background-color: #c9c9c9;
  border: none;
}

.modal-writetous textarea {
  font: inherit;

  background-color: #c9c9c9;
  border: none;
}

.modal-writetous input[type="text"],
.modal-writetous input[type="email"] {
  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
  outline-style: none;
  outline-color: none;
  outline-offset:
}

.modal-writetous textarea {
  width: 760px;
  height: 156px;
  background-color: #f2f2f2;
}

.modal-writetous input:hover {
  background-color: #ebebeb;
}

.modal-writetous input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.modal-writetous input:invalid {
  background-color: #f5d9d9;
}

.modal-writetous textarea:hover {
  background-color: #ebebeb;
}

.modal-writetous textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline-style: none;
}

.modal-writetous .buttons {
  background-color: #f0c52e;
  background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  background-size: auto 100%;

  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.modal-writetous .buttons:hover {
  background-color: #f0c52e;
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}

.modal-writetous .buttons:focus {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 200px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline-style: none;
}
