@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/Gilroylight.woff2") format("woff2"),
         url("../fonts/Gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
         url("../fonts/Gilroyextrabold.woff2") format("woff2"),
         url("../fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 10px;

  display: inline-block;
  vertical-align: top;

  min-height: 40px;
  min-width: 160px;

  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;

  box-sizing: border-box;
  border: none;
  outline: none;

  background: linear-gradient(transparent 41%, #f0c52e 41% 57%, transparent 57%);
  background-size: auto 100%;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  background-size: auto 100%;
}

.button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  background-size: auto 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;

  padding: 0 20px;
}

.main-header {
  min-height: 186px;
  margin-bottom: 37px;
}

.main-navigation {
  margin-top: 40px;

  width: 1160px;
  min-height: 186px;
  background-color: #f7e196;

  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.main-logo {
  margin: -17px 936px 2px 60px;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-header-center {
  width: 100%;

  margin: 0 0 24px 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-between;
}

.foundling:focus-within {
  width: 440px;

  padding: 0 0 0 60px;
  display: inline-flex;
  align-items: flex-end;
}

.foundling input[type="search"] {
  background-color: transparent;
  font-size: 15px;
  line-height: 30px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  width: 356px;
  padding: 0 15px 13px 39px;

  border-style: none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;

  background-image: url("../img/search.svg");
  background-position: 3px 8px;
  background-repeat: no-repeat;

  outline-style: none;
  cursor: pointer;
}

.foundling input[type="search"]:focus,
.foundling input[type="search"]:active {
  color: #000000;

  border-bottom: 2px solid #000000;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.foundling input[type="search"]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.foundling input[type="search"]:hover::placeholder,
.foundling input[type="search"]:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.foundling input[type="search"] ~ .search-button {
  display: none;
}

.foundling input[type="search"]:focus ~ .search-button {
  display: block;
  cursor: pointer;
}

.foundling input[type="search"] ~ .search-button:hover,
.foundling input[type="search"] ~ .search-button:focus,
.foundling input[type="search"] ~ .search-button:active {
  display: block;
  cursor: pointer;
}

.search-button {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;

  border: 2px solid #000000;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  width: 85px;
  height: 49px;

  outline-style: none;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active,
.search-button:focus-within {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-navigation a,
.product-navigation a,
.site-navigation a {
  display: block;
  color: #000000;
  background-color: #f7e196;
}

.user-navigation a:hover,
.product-navigation a:hover,
.site-navigation a:hover,
.user-navigation a:focus,
.product-navigation a:focus,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active,
.product-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  width: 261px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: 100px;
  padding-left: 1px;

  list-style: none;
}

.user-navigation .рersonal-аrea,
.user-navigation .рersonal-аrea-name {
  position: relative;

  padding-left: 26px;
}

.рersonal-аrea::before {
  content: "";

  position: absolute;
  top: 9px;
  right: 57px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-color: #f7e196;
}

.рersonal-аrea-name::before {
  content: "";

  position: absolute;
  top: 8px;
  right: 146px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-color: #f7e196;
}


.рersonal-аrea:hover::before,
.рersonal-аrea-name:hover::before,
.compare:hover::before,
.basket:hover::before {
  opacity: 0.6;
}

.рersonal-аrea:focus::before,
.рersonal-аrea:active::before,
.рersonal-аrea-name:focus::before,
.рersonal-аrea-name:active::before,
.compare:focus::before,
.compare:active::before,
.basket:focus::before,
.basket:active::before {
  opacity: 0.3;
}

.user-navigation a.exit {
  margin-right: 37px;
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a.exit:hover,
.user-navigation a.exit:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a.exit:active {
  color: rgba(0, 0, 0, 1);
}

.product-navigation {
  width: 220px;
  padding: 0 60px 0 18px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.product-navigation .compare{
  padding-left: 27px;

  position: relative;
}

.compare::before {
  content: "";

  position: absolute;
  top: 11px;
  right: 79px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-color: #f7e196;
}

.product-navigation .basket{
  padding-left: 23px;
  margin-right: -2px;

  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  top: 9px;
  right: 72px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-color: #f7e196;
}

.site-navigation {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  width: 1040px;
  padding: 0 60px 0 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.site-navigation li:first-child {
  width: 300px;
  margin-right: 210px;
}

.site-navigation li:last-child {
  width: 119px;
  margin-left: 75px;
}

.site-navigation .position-catalog {
  position: relative;
}

.position-catalog::after {
  content: "";

  position: absolute;
  top: 4px;
  right: 53px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-color: #f7e196;

  opacity: 0.3;
}

.position-catalog:hover::after,
.position-catalog:focus::after,
.position-catalog:active::after {
  opacity: 0.3;
}

.menu-catalog {
  margin: -18px 0 0 0;
  padding: 0 60px 40px 60px;

  width: 1040px;
  /*height: 129px;*/

  background-color: #f7e196;

  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;

  /*display: none;*/
}

.menu-catalog ul {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  background-color: #f7e196;

  padding: 0;

  min-height: 87px;
  margin: 0px 40px 0 0;

  list-style: none;
}

.menu-catalog a {
  color: #000000;
  background-color: #f7e196;
}

.index-columns {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.information {
  margin: 0;
  padding: 0;

  width: 495px;
}

.index-columns  h2 {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  /*letter-spacing: 0.5px;*/
  margin: 0 0 43px 0;

  position: relative;
  display: inline-block;
  vertical-align: top;
}

.index-columns h2::before {
  content: "";

  position: absolute;
  bottom: 93px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.index-columns p {
  margin: 0 0 30px 0;
}

.information ul {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  margin: 66px 0 54px 0;
  padding: 0 0 0 37px;
  list-style: none;
}

.information li {
  position: relative;
  /*letter-spacing: 0.07px;*/
}

.information li::after {
  content: "";

  background-image: url("../img/slider-button1.svg");
  background-repeat: no-repeat;
  top: 11px;
  left: -40px;

  width: 18px;
  height: 18px;
  position: absolute;

  background-color: #ffffff;
}

.information a {
  color: #000000;
}

.information a.button {
  min-width: 260px;
  padding-top: 8px;
  margin-bottom: 82px;
}

.writetous {
  margin: 0;
  padding: 0;

  list-style: none;
  width: 561px;
}

.writetous img {
  display: inline-block;
  vertical-align: top;
  margin: 8px 0 61px 0;
}

.writetous .button {
  min-width: 260px;
  margin-left: 3px;
  margin-bottom: 82px;
}

.page-title {
  background-color: #ffffff;
  color: #000000;

  font-size: 47px;
  line-height: 48px;
  /*letter-spacing: 0.67px;*/
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  padding: 0 0 24px 0;
  margin: 0 0 0 59px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;

  /*letter-spacing: -0.28px;*/
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  list-style: none;

  padding: 0;
  margin: 0 0 46px 60px;

  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -18px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-columns .container {
  display: flex;
  justify-content: space-between;
}

.catalog-columns {
  position: relative;
}

.catalog-columns::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: #ebebeb;
}

.filters {
  background-color: #efefef;

  width: 269px;
  padding-left: 59px;

  position: relative;
}

.filters::before {
  content: "";

  position: absolute;
  background: #efefef;
  top: 0;
  bottom: 0;

  width: 9999px;
  right: 100%;
}

.filters h2 {
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  background-color: #dcdcdc;
  padding: 23px 0 23px 3px;

  margin: 0 0 81px 0;

  position: relative;
}

.filters h2::before {
  content: "";

  position: absolute;
  background: #dcdcdc;

  top: 0;
  bottom: 0;
  width: 9999px;

  right: 100%;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter fieldset:first-of-type {
  margin-bottom: 116px;
}

.filter fieldset:not(:first-of-type):not(:last-of-type) {
  margin-bottom: 43px;
}

.filter fieldset:last-of-type {
  margin-bottom: 31px;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  /*letter-spacing: 0.4px;*/
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  position: relative;
  display: inline-block;
  vertical-align: top;
}

.filter legend::before {
  content: "";

  position: absolute;
  bottom: 34px;
  left: 1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter ul {
  margin: 0;

  list-style: none;
  font-size: 14px;
  line-height: 40px;

  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  /*letter-spacing: -0.25px;*/
  padding-top: 18px;
  padding-left: 40px;
}

.chek-input {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-input {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-option label {
  position: relative;

  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  left: -40px;
  top: 7px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;

  left: -40px;
  top: 7px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;
  left: -40px;
  top: 7px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;
  left: -40px;
  top: 7px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox + label,
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-checkbox:active + label,
.filter-input-radio + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label,
.filter-input-radio:active + label {
  color: #000000;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.25;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before {
  opacity: 0.25;
}

.filter-input-checkbox:hover + label::before,
.filter-input-radio:hover + label::before {
  opacity: 0.3;
}

/*.filter-input-checkbox:focus + label::before,*/
.filter-input-checkbox:active + label::before,
/*.filter-input-radio:focus + label::before,*/
.filter-input-radio:active + label::before {
  opacity: 1;
}

.filter-button.button {
  min-width: 200px;
}

.catalog {
  width: 760px;
  margin-bottom: 77px;
}

.sorting {
  background-color: #ebebeb;

  margin: 0 0 69px -72px;
  position: relative;
}

.sorting h2 {
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 24px;

  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  margin: 0;
  padding: 23px 0 23px 74px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  padding: 0;
  width: 360px;
  margin: 0 40px 48px 0;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.catalog-item .flag-new {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  text-transform: uppercase;
  box-sizing: border-box;

  position: absolute;
  top: 28px;
  right: 26px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 17px 0 0 3px;

  z-index: 2;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  background-color: #ffffff;

  margin: 0;
  padding: 0;
  max-width: 260px;
}

.catalog-item-image {
  min-width: 360px;
  height: 379px;

  padding: 0;
  margin: 0 0 32px 0;

  order: -1;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;

  background-color: #ffffff;

  padding: 0;
  margin: 0 0 0 auto;
}

.catalog-item .actions {
  position: absolute;
  top: 0px;
  left: 0;

  width: 100%;
  height: 379px;

  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.catalog-item .button {
  min-width: 200px;
  margin: 35px 0 13px 0;
}

.button-picture {
  display: inline-block;
  vertical-align: top;

  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  background-color: transparent;
  background-size: auto 100%;

  min-width: 130px;
  border: none;
  outline-style: none;

  cursor: pointer;
}

.button-picture:hover,
.button-picture:focus {
  color: #000000;
}

.button-picture:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list ul{
  list-style: none;
  background-color: #ebebeb;

  padding: 0;
  margin: -13px 0 0 0;
  max-width: 760px;

  display: flex;
  justify-content: space-between;
}

.pagination-list li:first-child {
  margin-right: 187px;
}

.pagination-list li:last-child {
  margin-left: 170px;
}

.pagination-list a {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  text-transform: uppercase;

  display: block;
  padding: 24px 0 22px 0;
}

.pagination-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-current a,
.pagination-list a:active {
  color: #000000;
}

.pagination-button-back a {
  display: block;
  box-sizing: border-box;
  text-align: left;

  padding: 24px 27px 22px 33px;

  color: #000000;
  background-color: #ebebeb;
}

.pagination-button-next a {
  display: block;
  box-sizing: border-box;
  text-align: right;

  padding: 24px 24px 22px 32px;

  color: #000000;
  background-color: #ebebeb;
}

.pagination-button-back a:hover,
.pagination-button-next a:hover {
  color: #000000;
  background-color: #d9d9d9;
}

.pagination-button-back a:active,
.pagination-button-next a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.main-footer {
  background-color: #454545;
}

.main-navigation-footer {
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  background-color: #454545;
  width: 1160px;
  min-height: 325px;
}

.main-logo-footer {
  margin: 66px 520px 0 0;
  padding: 0;
}

.main-logo-footer:hover,
.main-logo-footer:focus {
  opacity: 0.6;
}

.main-logo-footer:active {
  opacity: 0.3;
}

.main-footer-center {
  width: 100%;

  margin: 0 0 5px 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.user-navigation-footer a,
.product-navigation-footer a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  background-color: #454545;
}

.user-navigation-footer a:hover,
.user-navigation-footer a:focus,
.product-navigation-footer a:hover,
.product-navigation-footer a:focus {
  color: rgba(255, 255, 255, 1);
}

.user-navigation-footer a:active,
.product-navigation-footer a:active,
.site-navigation-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation-footer a {
  display: block;
  color: #ffffff;
  background-color: #454545;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation-footer {
  width: 261px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  padding: 60px 0 0 0;
  margin: 0;
}

.user-navigation-footer .рersonal-аrea-footer {
  position: relative;

  padding-left: 178px;
}

.рersonal-аrea-footer::before {
  content: "";

  position: absolute;
  top: 12px;
  right: 57px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-f.svg");

  background-repeat: no-repeat;
  background-color: #454545;
}

.user-navigation-footer .рersonal-аrea-name-footer {
  position: relative;

  padding-left: 25px;
}

.рersonal-аrea-name-footer::before {
  content: "";

  position: absolute;
  top: 12px;
  right: 145px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-f.svg");
  background-repeat: no-repeat;
  background-color: #454545;
}

.рersonal-аrea-footer:hover::before,
.рersonal-аrea-footer:focus::before,
.рersonal-аrea-name-footer:hover::before,
.рersonal-аrea-name-footer:focus::before,
.compare-footer:hover::before,
.compare-footer:focus::before,
.basket-footer:hover::before,
.basket-footer:focus::before {
  opacity: 0.6;
}

.рersonal-аrea-footer:active::before,
.рersonal-аrea-name-footer:active::before,
.compare-footer:active::before,
.basket-footer:active::before {
  opacity: 0.3;
}

.user-navigation-footer a.exit-footer {
  margin-right: 36px;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a.exit-footer:hover,
.user-navigation-footer a.exit-footer:focus {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation-footer a.exit-footer:active {
  color: rgba(255, 255, 255, 1);
}

.product-navigation-footer {
  width: 220px;
  margin: 0;
  padding: 60px 0 0 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.product-navigation-footer .compare-footer {
  padding-left: 26px;

  position: relative;
}

.compare-footer::before {
  content: "";

  position: absolute;
  top: 14px;
  right: 79px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-f.svg");
  background-repeat: no-repeat;
  background-color: #454545;
}

.product-navigation-footer .basket-footer {
  padding-left: 23px;
  margin-right: -2px;

  position: relative;
}

.basket-footer::before {
  content: "";

  position: absolute;
  top: 12px;
  right: 70px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-f.svg");
  background-repeat: no-repeat;
  background-color: #454545;
}

.main-address-center {
  width: 100%;
  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-address-center address {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;

  background-color: #454545;
  margin-top: 12px;
}

.main-address-center .address {
  font-style: normal;
  /*letter-spacing: -0.2px;*/

  width: 213px;
  margin-right: 160px;
}

.site-navigation-footer {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;

  padding: 0;
  width: 440px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.main-address-center .phone {
  font-style: normal;
  /*letter-spacing: 0.3px;*/

  width: 165px;
  margin-left: 202px;
}

.main-social-center {
  width: 100%;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

hr {
  border: none;
  background-color: #ffc600;

  height: 7px;
  width: 80px;

  padding: 0;
  margin: 27px 0 0 1px;
}

.footer-social {
  text-align: center;
  list-style: none;

  padding: 0;
  background-color: #454545;
  width: 140px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  width: 32px;
  height: 32px;
  background-color: #454545;
}

.social-button:hover,
.social-button:focus {
  background-color: #454545;
}

.social-button:hover path {
  fill: #b5b5b5;
}

.social-button:focus path {
  fill: #595959;
}

.academy-footer-logo {
  background-color: #454545;
  width: 31px;
  margin: 12px -4px 0 53px;
}

.academy-footer-logo:hover,
.academy-footer-logo:focus {
  background-color: #454545;
  opacity: 0.6;
}

.academy-footer-logo:active {
  background-color: #454545;
  opacity: 0.3;
}

.modal {
  /*display: none;*/

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;

  box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);

  position: fixed;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;

  font-size: 0;
  border: 0;

  cursor: pointer;
  outline: none;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  width: 960px;
  height: 559px;

  padding: 0;
  margin: 0 0 0 -480px;

  top: 75px;
  left: 50%;

  /*display: none;*/
}

.modal-writetous {
  background-color: #ffffff;
  padding: 0;
  margin: 0 0 0 -480px;

  width: 760px;
  padding: 100px 100px 80px 100px;

  font-size: 14px;
  line-height: 18px;
  color: rgba(0 0 0 0.4);
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;

  top: 75px;
  left: 50%;
  margin-left: -480px;

  /*display: none;*/
}

.appointment-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0 0 40px 0;
}

.appointment-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  width: 760px;
}

.appointment-item:last-child {
  width: 100%;
}

.appointment-item label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  display: block;
  vertical-align: top;
  margin: 0 0 14px 0;
}

.appointment-item input[type="text"],
.appointment-item input[type="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 20px 20px 20px 20px;

  border: 3px solid #ffffff;

  background-color: #f2f2f2;
  color: rgba(0 0 0 0.4);
  outline: none;
}

.appointment-item textarea {
  box-sizing: border-box;
  max-width: 760px;
  height: 156px;
  padding: 20px 20px 20px 20px;
  background-color: #f2f2f2;
  color: rgba(0 0 0 0.4);

  border: 3px solid #ffffff;
  outline: none;
}

.appointment-item input:hover {
  background-color: #ebebeb;
  color: rgba(0 0 0 0.4);
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: rgba(0 0 0 1);
}

.appointment-item input:invalid {
  background-color: #f5d9d9;
  color: rgba(0 0 0 0.4);
}

.appointment-item textarea:hover {
  background-color: #ebebeb;
  color: rgba(0 0 0 0.4);
}

.appointment-item textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: rgba(0 0 0 1);
}

.modal-writetous .button {
  min-width: 200px;
}
