@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"),
         url("../fonts/Gilroylight.woff2") format("woff2"),
         url("../fonts/Gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
         url("../fonts/Gilroyextrabold.woff2") format("woff2"),
         url("../fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  /*font-family: "Gilroy","Open Sans", sans-serif;*/
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
display: inline-block;

min-height: 40px;
min-width: 160px;

font-size: 18px;
letter-spacing: 3.6px; /*4 в ФШ*/
line-height: 24px;
color: #000000;

font-family: "Gilroy", Arial, sans-serif;
font-weight: 800;
text-transform: uppercase;
text-align: center;

box-sizing: border-box;
border: none;
outline: none;
/*outline-style: none;*/

padding: 8px 10px;
background: linear-gradient(transparent 41%, #f0c52e 41% 57%, transparent 57%);
background-size: auto 100%;

cursor: pointer;

margin-left: 250px;
margin-top: 50px;
/*padding: 11px 42px;*/
/*margin-right: 16px;*/
/*vertical-align: middle;*/
/*background: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);*/
/*background: linear-gradient(to bottom, transparent 19px, #f0c52e 19px 27px, transparent 27px);*/
}

.button:hover {
  background-color: #f0c52e;
  background-size: auto 100%;
}

.button:focus,
.button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  background-size: auto 100%;
}

.information a.button {
  min-width: 260px;
  padding-top: 8px;
}

.writetous .button {
  min-width: 260px;
}

.filter-button.button {
  min-width: 200px;
}

.catalog-item .button {
  min-width: 200px;
}

.button-picture {
  display: inline-block;

  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  background-color: transparent;
  background-size: auto 100%;

  min-width: 130px;

  border: none;
  outline-style: none;

  cursor: pointer;

  margin-left: 250px;
  margin-top: 50px;
}

.button-picture:hover {
  color: #000000;
}

.button-picture:active,
.button-picture:focus {
  color: rgba(0, 0, 0, 0.3);
}

.modal-writetous .button {
  min-width: 200px;
}

.podrobnee .button {
  min-width: 220px;
}

.garantiy .button {
  min-width: 160px;
/*по этой кнопке я делала все кнопки, ее ширина минимальная, она указана во всем классе*/
}

.otdel:active {
  text-align: left;
  padding-left: 24px;
  min-width: 278px;
  color: #f7e184;
  background: #000000;
  background-size: auto 100%;
}
